@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    color: #fff;
}

#home {
    width: 100%;
    height: 100vh;
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.banner {
    background-color: rgba(87, 87, 175, 0.678);
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    position: absolute;
    width: 100%;
}

header .brand-name {
    font-weight: 800;
    letter-spacing: 2px;
}

header img {
    width: 40px;
    height: 30px;
}

.home-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin: auto;
}

.home-content h1 {
    font-size: 60px;
}

p {
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
}

#about {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: aqua;
}

.about-text {
    width: 50%;
    height: 100%;
    background-color: #0f2e52;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text p {
    text-align: left;
}

.about-text h2,
h2 {
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.about-img {
    height: 100%;
    width: 50%;
    background-color: red;
}

.about-img img {
    width: 100%;
    height: 100%;
}

#service {
    background-color: #0d2230;
    height: 80vh;
    padding: 100px;
    padding-top: 160px;
    color: #fff;
}

#service h2 {
    /* margin-top: 100px; */
    text-align: center;
}

.technology-container {
    background-color: rgb(6, 73, 160);
    width: 100%;
    height: 85vh;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    position: relative;
    top: -50%;
    /* background-color: rgba(210, 105, 30, 0.308); */
}

.card-container .card-box {
    width: 360px;
    height: 420px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container .card-box img {
    width: 120px;
    height: 120px;
}

.card-container .card-box h3 {
    color: black;
}

.technology {
    position: relative;
    top: -50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    padding-top: 0;
    /* padding-bottom: 100px; */
}

.technology-text p {
    text-align: left;
    width: 90%;
}

.technology-icons img {
    width: 300px;
    height: 300px;
    transition: 0.4s;
}

.technology-icons img:hover {
    filter: invert(10);
}

#clients {
    /* height: 60vh; */
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a2130;
}

.client-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.client-container img {
    width: 200px;
    height: 60px;
    filter: opacity(30%);
    transition: all 0.3s ease-in-out;
}

.client-container img:hover {
    filter: opacity(100%);
    transform: scale(1.2);
}

#client-says {
    background-color: #0f2e52;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* height: 80vh; */
}

#client-says h2 {
    padding-bottom: 25px;
}

.comments-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 400px; */
}

.comment {
    width: 610px;
    /* height: 300px; */
    font-size: 16px;
    font-style: italic;
    color: rgb(0, 0, 0);
    background-color: #fff;
    padding: 70px 50px;
}


.comment p {
    text-align: left;
}

.comment h4 {
    text-align: right;
    color: rgb(26, 86, 155);

}

#contact {
    padding: 100px;
    background-color: #0a2130;
    text-align: center;
}

#form-container {
    background-color: tomato;
    display: flex;
    width: 100vw;
    height: 860px;
}


.form {
    width: 50%;
    background: url('assets/red.jpg');
}

form {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

input,
textarea {
    font-size: 20px;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 40px;
    color: #fff;
    outline: none;
}

::placeholder {
    color: #fff;
}

textarea {
    resize: none;
}

.submit-button {
    color: black;
    background-color: #fff;
    padding: 10px 20px;
    width: 150px;
}

#form-container .image-container img {
    width: 100%;
    height: 100%;
}
